: PROXY FILTER SETTINGS :

ExcludeAnonymitys: False
ExcludedProxyAnonymitys: []

IncludeAnonymitys: False
IncludedProxyAnonymity: []

ExcludeProxyCountrys: False
ExcludedProxyCountrys: []

IncludeProxyCountrys: False
IncludedProxyCountrys: []

ExcludeSites: False
ExcludedSite: []

IncludeSites: False
IncludedSites: []

: EXTRA :
Debug: True